sudo: false
language: python
python: "3.6"
install:
  - easy_install distribute
  - pip install -r requirements.txt
  - export PYTHONPATH="${PYTHONPATH}:${TRAVIS_BUILD_DIR}"
script:
  - git clean -f -d -x
  - mkdocs build
after_success:
  - git config user.name "Kodular Bot"
  - git config user.email "github@kodular.io"
  - git remote add gh-token "https://KodularCreator:${GH_TOKEN}@github.com/Kodular/Documentation.git"
  - git fetch gh-token && git fetch gh-token gh-pages:gh-pages;
  - mkdocs gh-deploy -v --clean --remote-name gh-token;
