sudo: false

language: python
python: "3.8"

install:
  - easy_install distribute
  - pip install -r requirements.txt

script:
  - git clean -f -d -x
  - mkdocs build

after_success:
  - git config user.name "Kodular Bot"
  - git config user.email "github@kodular.io"
  - git remote add gh-token "https://KodularCreator:${GH_TOKEN}@github.com/${TRAVIS_REPO_SLUG}.git"
  - git fetch gh-token && git fetch gh-token gh-pages:gh-pages;
  - mkdocs gh-deploy -v --clean --remote-name gh-token;
