# Site Config
site_name: Kodular Docs
site_description: Kodular Documentation
site_author: Kodular
site_url: https://docs.kodular.io/

# Repository
repo_name: Kodular Docs
repo_url: https://github.com/Kodular/Documentation
edit_uri: blob/master/docs/

#Copyright text in the footer
copyright: Copyright &copy; 2019 Kodular

# Customization
extra:
  social:
    - type: globe
      link: https://www.kodular.io
    - type: twitter
      link: https://twitter.com/KodularIO
    - type: facebook
      link: https://facebook.com/Kodular
    - type: github
      link: https://github.com/Kodular
  adsense: "ca-pub-9439286719204795"

# Material theme for MkDocs : https://github.com/squidfunk/mkdocs-material/
theme:
  name: 'material'
  feature:
    tabs: true
  palette:
    primary: white
    accent: pink
  logo: 'assets/logo.png'
  favicon: 'assets/favicon.ico'
  font:
    text: Roboto
    code: Roboto Mono
  custom_dir: makeroid_theme/

extra_css:
  - assets/css/extra.css

extra_javascript:
  - 'https://code.jquery.com/jquery-3.3.1.min.js'
  - assets/js/extra.js
  - assets/js/blockly_compressed.js

plugins:
  - search
  - replace
# - jekyll-redirect-from

#Markdown extensions: https://python-markdown.github.io/extensions/
markdown_extensions:
  - markdown.extensions.admonition
  - markdown.extensions.toc:
      permalink: 'true'
  - markdown_include.include:
      base_path: docs
  - markdown.extensions.attr_list
  - codehilite
  # PyMdown Extensions
  #- pymdownx.caret
  #- pymdownx.critic
  #- pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  #- pymdownx.inlinehilite
  #- pymdownx.keys
  #- pymdownx.mark
  #- pymdownx.smartsymbols
  #- pymdownx.superfences
  - pymdownx.tasklist:
     custom_checkbox: true
  #- pymdownx.tilde
  - mdx_macros:
      macros:
        # If you get any error about module import here,
        # you need to add this directory to the PYTHONPATH enviroment variable
        - !!python/name:macros.blocks_macros.PropertyBlockSetterMacro
        - !!python/name:macros.blocks_macros.PropertyBlockGetterMacro
        - !!python/name:macros.blocks_macros.PropertyBlockGetAndSetMacro
        - !!python/name:macros.blocks_macros.EventBlockMacro

# Site navigation in the side bar
nav:
  - Home:
    - Overview: index.md
    - Pricing: pricing.md
    - Release Notes:
      - Overview: release-notes/index.md
      - Andromeda: release-notes/andromeda.md
      - Butterfly: release-notes/butterfly.md
      - Chamaeleon: release-notes/chamaeleon.md
      - Draco: release-notes/draco.md
      - Eagle: release-notes/eagle.md
    - Terms of Service: terms-of-service.md
  - Guides:
    - Understanding Kodular: guides/index.md
    - Hello World: guides/hello-world.md
    - Backpack: guides/backpack.md
    - Concept Cards: guides/concept-cards.md
    - Live Development:
      - Overview: guides/live-development/index.md
      - Via WiFi: guides/live-development/wifi.md
      - Via USB: guides/live-development/usb.md
    - Extensions:
      - Create Extensions: guides/extensions/create-extensions.md
  - Components:
    - Overview: components/index.md
    - Screen: components/screen.md
    - User Interface:
      - Overview: components/user-interface/index.md
      - Button: components/user-interface/button.md
      - Checkbox: components/user-interface/checkbox.md
      - Circular Progress: components/user-interface/circular-progress.md
      - Date Picker: components/user-interface/date-picker.md
      - Floating Action Button: components/user-interface/floating-action-button.md
      - Image: components/user-interface/image.md
      - Label: components/user-interface/label.md
      - Linear Progressbar: components/user-interface/linear-progressbar.md
      - List Picker: components/user-interface/list-picker.md
      - Notifier: components/user-interface/notifier.md
      - Radio Button: components/user-interface/radio-button.md
      - Rating Bar: components/user-interface/rating-bar.md
      - Slider: components/user-interface/slider.md
      - Snackbar: components/user-interface/snackbar.md
      - Spinner: components/user-interface/spinner.md
      - Spotlight: components/user-interface/spotlight.md
      - State Progress Bar: components/user-interface/state-progress-bar.md
      - Switch: components/user-interface/switch.md
      - TextBox: components/user-interface/textbox.md
      - Time Picker: components/user-interface/time-picker.md
    - Layout:
      - Overview: components/layout/index.md
      - General:
        - Card View: components/layout/general/card-view.md
        - Horizontal Arrangement: components/layout/general/horizontal-arrangement.md
        - Horizontal Scroll Arrangement: components/layout/general/horizontal-scroll-arrangement.md
        - Space: components/layout/general/space.md
        - Swipe Refresh Layout: components/layout/general/swipe-refresh-layout.md
        - Table Arrangement: components/layout/general/table-arrangement.md
        - Vertical Arrangement: components/layout/general/vertical-arrangement.md
        - Vertical Scroll Arrangement: components/layout/general/vertical-scroll-arrangement.md
      - Lists:
        - List View: components/layout/lists/list-view.md
        - List View Image and Text: components/layout/lists/list-view-image-and-text.md
      - Navigation:
        - Bottom Navigation: components/layout/navigation/bottom-navigation.md
        - Side Menu Layout: components/layout/navigation/side-menu-layout.md
        - Tab Layout: components/layout/navigation/tab-layout.md
        - View Pager: components/layout/navigation/view-pager.md
      - Views:
        - Bottom Sheet: components/layout/views/bottom-sheet.md
        - Chat View: components/layout/views/chat-view.md
        - Surface View: components/layout/views/surface-view.md
        - View Flipper: components/layout/views/view-flipper.md
        - Web Viewer: components/layout/views/web-viewer.md
    - Media:
      - Overview: components/media/index.md
      - Audio Picker: components/media/audio-picker.md
      - Camcorder: components/media/camcorder.md
      - Camera: components/media/camera.md
      - Exoplayer: components/media/exoplayer.md
      - Image Picker: components/media/image-picker.md
      - Metadata: components/media/metadata.md
      - OCR: components/media/ocr.md
      - Player: components/media/player.md
      - QR Code: components/media/qr-code.md
      - Sound: components/media/sound.md
      - Sound Recorder: components/media/sound-recorder.md
      - Speech Recognizer: components/media/speech-recognizer.md
      - Text To Speech: components/media/text-to-speech.md
      - Video Picker: components/media/video-picker.md
      - Video Player: components/media/video-player.md
      - Yandex Translate: components/media/yandex-translate.md
      - YouTube Player: components/media/youtube-player.md
    - Drawing and Animation:
      - Overview: components/drawing-and-animation/index.md
      - Animation Util: components/drawing-and-animation/animation-util.md
      - Ball: components/drawing-and-animation/ball.md
      - Canvas: components/drawing-and-animation/canvas.md
      - Image Editor: components/drawing-and-animation/image-editor.md
      - Image Sprite: components/drawing-and-animation/image-sprite.md
      - Lottie: components/drawing-and-animation/lottie.md
    - Maps:
      - Overview: components/maps/index.md
      - Circle: components/maps/circle.md
      - Feature Collection: components/maps/feature-collection.md
      - Line String: components/maps/line-string.md
      - Map: components/maps/map.md
      - Marker: components/maps/marker.md
      - Polygon: components/maps/polygon.md
      - Rectangle: components/maps/rectangle.md
    - Sensors:
      - Overview: components/sensors/index.md
      - Accelerometer: components/sensors/accelerometer.md
      - Barcode Scanner: components/sensors/barcode-scanner.md
      - Clock: components/sensors/clock.md
      - Fingerprint: components/sensors/fingerprint.md
      - Gravity Sensor: components/sensors/gravity-sensor.md
      - Gyroscope Sensor: components/sensors/gyroscope-sensor.md
      - Light Sensor: components/sensors/light-sensor.md
      - Location Sensor: components/sensors/location-sensor.md
      - Magnetic Field Sensor: components/sensors/magnetic-field-sensor.md
      - NearField: components/sensors/nearfield.md
      - Orientation Sensor: components/sensors/orientation-sensor.md
      - Pedometer: components/sensors/pedometer.md
      - Pressure Sensor: components/sensors/pressure-sensor.md
      - Proximity Sensor: components/sensors/proximity-sensor.md
      - Sound Sensor: components/sensors/sound-sensor.md
      - Temperature Sensor: components/sensors/temperature-sensor.md
    - Social:
      - Overview: components/social/index.md
      - Contact Picker: components/social/contact-picker.md
      - Email Picker: components/social/email-picker.md
      - Phone Call: components/social/phone-call.md
      - Phone Number Picker: components/social/phone-number-picker.md
      - Push Notifications: components/social/push-notifications.md
      - Sharing: components/social/sharing.md
      - Texting: components/social/texting.md
      - Twitter: components/social/twitter.md
    - Storage:
      - Overview: components/storage/index.md
      - Cloudinary: components/storage/cloudinary.md
      - Cryptography: components/storage/cryptography.md
      - File: components/storage/file.md
      - Fusiontables Control: components/storage/fusiontables-control.md
      - Spreadsheet: components/storage/spreadsheet.md
      - SQLite: components/storage/sqlite.md
      - Tiny DB: components/storage/tiny-db.md
      - Tiny Web DB: components/storage/tiny-web-db.md
    - Utilities:
      - Overview: components/utilities/index.md
      - Audio: components/utilities/audio.md
      - Color Utilities: components/utilities/color-utilities.md
      - Device Tools: components/utilities/device-tools.md
      - Image Utilities: components/utilities/image-utilities.md
      - Package: components/utilities/package.md
      - Resource Utilities: components/utilities/resource-utilities.md
      - Screenshot: components/utilities/screenshot.md
      - Shell: components/utilities/shell.md
      - Wallpaper: components/utilities/wallpaper.md
    - Dynamic Components:
      - Overview: components/dynamic/index.md
      - Dynamic Button: components/dynamic/dynamic-button.md
      - Dynamic Label: components/dynamic/dynamic-label.md
      - Dynamic Textbox: components/dynamic/dynamic-textbox.md
    - Connectivity:
      - Overview: components/connectivity/index.md
      - Activity Starter: components/connectivity/activity-starter.md
      - Arduino: components/connectivity/arduino.md
      - Bluetooth Admin: components/connectivity/bluetooth-admin.md
      - Bluetooth Client: components/connectivity/bluetooth-client.md
      - Bluetooth Server: components/connectivity/bluetooth-server.md
      - Download: components/connectivity/download.md
      - FTP: components/connectivity/ftp.md
      - Network: components/connectivity/network.md
      - Web: components/connectivity/web.md
      - WiFi: components/connectivity/wifi.md
    - Google:
      - Overview: components/google/index.md
      - Firebase Authentication: components/google/firebase-authentication.md
      - Firebase Database: components/google/firebase-database.md
      - Firebase Remote Config: components/google/firebase-remote-config.md
      - Google Account Picker: components/google/google-account-picker.md
      - Google Maps: components/google/google-maps.md
    - Monetization:
      - Overview: components/monetization/index.md
      - AdMob Banner: components/monetization/admob-banner.md
      - AdMob Interstitial: components/monetization/admob-interstitial.md
      - AdMob Rewarded Video: components/monetization/admob-rewardedvideo.md
      - Amazon Banner: components/monetization/amazon-banner.md
      - Amazon Interstitial: components/monetization/amazon-interstitial.md
      - Facebook Banner: components/monetization/facebook-banner.md
      - Facebook Interstitial: components/monetization/facebook-interstitial.md
      - In App Billing: components/monetization/in-app-billing.md
      - Leadbolt: components/monetization/leadbolt.md
      - StartApp Banner: components/monetization/start-app-banner.md
      - Unity Ads: components/monetization/unity-ads_ads.md
    - LEGO Mindstorms:
      - Overview: components/lego-mindstorms/index.md
      - NXT Drive: components/lego-mindstorms/nxt-drive.md
      - NXT Color Sensor: components/lego-mindstorms/nxt-color-sensor.md
      - NXT Light Sensor: components/lego-mindstorms/nxt-light-sensor.md
      - NXT Sound Sensor: components/lego-mindstorms/nxt-sound-sensor.md
      - NXT Touch Sensor: components/lego-mindstorms/nxt-touch-sensor.md
      - NXT Ultrasonic Sensor: components/lego-mindstorms/nxt-ultrasonic-sensor.md
      - NXT Direct Commands: components/lego-mindstorms/nxt-direct-commands.md
      - EV3 Motors: components/lego-mindstorms/ev3-motors.md
      - EV3 Color Sensor: components/lego-mindstorms/ev3-color-sensor.md
      - EV3 Gyro Sensor: components/lego-mindstorms/ev3-gyro-sensor.md
      - EV3 Touch Sensor: components/lego-mindstorms/ev3-touch-sensor.md
      - EV3 Ultrasonic Sensor: components/lego-mindstorms/ev3-ultrasonic-sensor.md
      - EV3 Sound: components/lego-mindstorms/ev3-sound.md
      - EV3 UI: components/lego-mindstorms/ev3-ui.md
      - EV3 Commands: components/lego-mindstorms/ev3-commands.md
    - Experimental:
      - Overview: components/experimental/index.md
      - Chrome Custom Tabs: components/experimental/chrome-custom-tabs.md
      - Cloud DB: components/experimental/cloud-db.md
      - Notification: components/experimental/notification.md
      - Shortcut Badge: components/experimental/shortcut-badge.md
  - Blocks:
    - Overview: blocks/index.md
    - Control: blocks/control.md
    - Logic: blocks/logic.md
    - Math: blocks/math.md
    - Text: blocks/text.md
    - Lists: blocks/lists.md
    - Colors: blocks/colors.md
    - Variables: blocks/variables.md
    - Procedures: blocks/procedures.md
    - Any Component: blocks/any-component.md


# Google Analyitcs
google_analytics:
  - 'UA-102230060-7'
  - 'auto'
