# Site Config
site_name: Kodular Docs
site_description: Kodular Documentation
site_author: Kodular
site_url: https://docs.kodular.io/

# Dev
dev_addr: '127.0.0.1:8008'

# Repository
repo_name: Kodular Docs
repo_url: https://github.com/Kodular/Documentation
edit_uri: blob/master/docs/

# Copyright text in the footer
copyright: Kodular Creator &copy; Junnovate, LLC

# Customization
extra:
  social:
    - icon: fontawesome/solid/globe
      link: https://www.kodular.io
      name: Kodular
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/KodularIO
      name: Follow us on Twitter!
    - icon: fontawesome/brands/facebook
      link: https://facebook.com/Kodular
      name: Like our Facebook Page!
    - icon: fontawesome/brands/github-alt
      link: https://github.com/Kodular
      name: Check our OSS repositories!
  adsense: "ca-pub-9439286719204795"
  # disqus: "kodular-docs"
  analytics:
    provider: google
    property: G-CRSVR9X0H2
  generator: false
  consent: true

# Material theme for MkDocs : https://github.com/squidfunk/mkdocs-material/
theme:
  name: 'material'
  features:
    - content.tabs.link
    # - navigation.instant
    - navigation.indexes
    - navigation.tabs
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
  palette:
    - scheme: default
      primary: white
      accent: pink
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - scheme: slate
      primary: black
      accent: pink
      toggle:
        icon: material/weather-night
        name: Switch to light mode
  logo: 'assets/logo.png'
  favicon: 'assets/favicon.ico'
  font:
    text: Roboto
    code: Roboto Mono
  custom_dir: makeroid_theme/
  icon:
    repo: fontawesome/brands/github

extra_css:
  - assets/css/extra.css

extra_javascript:
  - 'https://code.jquery.com/jquery-3.3.1.min.js'
  - assets/js/extra.js
  - assets/js/blockly_compressed.js
  - search/search_index.js

plugins:
  - search
  - social
  - git-revision-date-localized
  - redirects:
      redirect_maps:
        support/index.md: https://support.kodular.io/

markdown_extensions:
  - codehilite
  # Markdown extensions: https://python-markdown.github.io/extensions/
  - admonition
  - toc:
      permalink: true
  - attr_list
  # PyMdown Extensions
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:pymdownx.emoji.twemoji
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist:
     custom_checkbox: true
  - pymdownx.tilde
  - pymdownx.tabbed

# Site navigation in the side bar
nav:
  - Home:
    - index.md
    - Pricing: pricing.md
    - Release Notes:
      - release-notes/index.md
      - Andromeda: release-notes/andromeda.md
      - Butterfly: release-notes/butterfly.md
      - Chamaeleon: release-notes/chamaeleon.md
      - Draco: release-notes/draco.md
      - Eagle: release-notes/eagle.md
      - Fenix: release-notes/fenix.md
    - Terms of Service: terms-of-service.md
  - Guides:
    - Understanding Kodular: guides/index.md
    - Hello World: guides/hello-world.md
    - Backpack: guides/backpack.md
    - Concept Cards: guides/concept-cards.md
    - Live Development:
      - guides/live-development/index.md
      - Via WiFi: guides/live-development/wifi.md
      - Via USB: guides/live-development/usb.md
    - Component Guides:
      - Using Dynamic Cards: guides/component-examples/dynamic-cards.md
      - Staged App Updates: guides/component-examples/remote-config.md
      - Firebase Rules: guides/component-examples/firebase-rules.md
      - Securing Firebase: guides/component-examples/securing-app.md
      - Targeting Notifications: guides/component-examples/targeted-notifications.md
      - Surveys with Pollfish: guides/component-examples/pollfish.md
    - Extensions:
      - Create Extensions: guides/extensions/create-extensions.md
      - Kodular Methods: guides/extensions/kodular-methods.md
    - Keyboard Shortcuts: guides/keyboard-shortcuts.md
    - Monetization: guides/monetization.md
  - Components:
    - components/index.md
    - Screen: components/screen.md
    - User Interface:
      - components/user-interface/index.md
      - Button: components/user-interface/button.md
      - Checkbox: components/user-interface/checkbox.md
      - Circular Progress: components/user-interface/circular-progress.md
      - Custom Progress: components/user-interface/custom-progress.md
      - Date Picker: components/user-interface/date-picker.md
      - Floating Action Button: components/user-interface/floating-action-button.md
      - Image: components/user-interface/image.md
      - Label: components/user-interface/label.md
      - Linear Progressbar: components/user-interface/linear-progressbar.md
      - List Picker: components/user-interface/list-picker.md
      - Notifier: components/user-interface/notifier.md
      - Radio Button: components/user-interface/radio-button.md
      - Rating Bar: components/user-interface/rating-bar.md
      - Slider: components/user-interface/slider.md
      - Snackbar: components/user-interface/snackbar.md
      - Spinner: components/user-interface/spinner.md
      - Spotlight: components/user-interface/spotlight.md
      - State Progress Bar: components/user-interface/state-progress-bar.md
      - Switch: components/user-interface/switch.md
      - Text Box: components/user-interface/text-box.md
      - Time Picker: components/user-interface/time-picker.md
    - Layout:
      - components/layout/index.md
      - General:
        - components/layout/general/index.md
        - Card View: components/layout/general/card-view.md
        - Grid View: components/layout/general/grid-view.md
        - Horizontal Arrangement: components/layout/general/horizontal-arrangement.md
        - Horizontal Scroll Arrangement: components/layout/general/horizontal-scroll-arrangement.md
        - Space: components/layout/general/space.md
        - Swipe Refresh Layout: components/layout/general/swipe-refresh-layout.md
        - Table Arrangement: components/layout/general/table-arrangement.md
        - Vertical Arrangement: components/layout/general/vertical-arrangement.md
        - Vertical Scroll Arrangement: components/layout/general/vertical-scroll-arrangement.md
      - Lists:
        - components/layout/lists/index.md
        - List View: components/layout/lists/list-view.md
        - List View Image and Text: components/layout/lists/list-view-image-and-text.md
      - Views:
        - components/layout/views/index.md
        - Bottom Sheet: components/layout/views/bottom-sheet.md
        - Chat View: components/layout/views/chat-view.md
        - Gallery Viewer: components/layout/views/gallery-viewer.md
        - Surface View: components/layout/views/surface-view.md
        - View Flipper: components/layout/views/view-flipper.md
        - Web Viewer: components/layout/views/web-viewer.md
      - Navigation:
        - components/layout/navigation/index.md
        - Bottom Navigation: components/layout/navigation/bottom-navigation.md
        - Side Menu Layout: components/layout/navigation/side-menu-layout.md
        - Tab Layout: components/layout/navigation/tab-layout.md
        - View Pager: components/layout/navigation/view-pager.md
    - Media:
      - components/media/index.md
      - Audio Picker: components/media/audio-picker.md
      - Camcorder: components/media/camcorder.md
      - Camera: components/media/camera.md
      - Image Picker: components/media/image-picker.md
      - Metadata: components/media/metadata.md
      - OCR: components/media/ocr.md
      - Player: components/media/player.md
      - QR Code: components/media/qr-code.md
      - Sound: components/media/sound.md
      - Sound Recorder: components/media/sound-recorder.md
      - Speech Recognizer: components/media/speech-recognizer.md
      - Text To Speech: components/media/text-to-speech.md
      - Video Picker: components/media/video-picker.md
      - Video Player: components/media/video-player.md
      - Yandex Translate: components/media/yandex-translate.md
    - Drawing and Animation:
      - components/drawing-and-animation/index.md
      - Ball: components/drawing-and-animation/ball.md
      - Canvas: components/drawing-and-animation/canvas.md
      - Image Editor: components/drawing-and-animation/image-editor.md
      - Image Sprite: components/drawing-and-animation/image-sprite.md
      - Lottie: components/drawing-and-animation/lottie.md
    - Maps:
      - components/maps/index.md
      - Circle: components/maps/circle.md
      - Feature Collection: components/maps/feature-collection.md
      - Line String: components/maps/line-string.md
      - Map: components/maps/map.md
      - Marker: components/maps/marker.md
      - Navigation: components/maps/navigation.md
      - Polygon: components/maps/polygon.md
      - Rectangle: components/maps/rectangle.md
    - Sensors:
      - components/sensors/index.md
      - Accelerometer Sensor: components/sensors/accelerometer-sensor.md
      - Barcode Scanner: components/sensors/barcode-scanner.md
      - Clock: components/sensors/clock.md
      - Fingerprint: components/sensors/fingerprint.md
      - Gravity Sensor: components/sensors/gravity-sensor.md
      - Gyroscope Sensor: components/sensors/gyroscope-sensor.md
      - Hygrometer: components/sensors/hygrometer.md
      - Light Sensor: components/sensors/light-sensor.md
      - Location Sensor: components/sensors/location-sensor.md
      - Magnetic Field Sensor: components/sensors/magnetic-field-sensor.md
      - Near Field: components/sensors/near-field.md
      - Orientation Sensor: components/sensors/orientation-sensor.md
      - Pedometer: components/sensors/pedometer.md
      - Pressure Sensor: components/sensors/pressure-sensor.md
      - Proximity Sensor: components/sensors/proximity-sensor.md
      - Sound Sensor: components/sensors/sound-sensor.md
      - Temperature Sensor: components/sensors/temperature-sensor.md
    - Social:
      - components/social/index.md
      - Contact Picker: components/social/contact-picker.md
      - Email Picker: components/social/email-picker.md
      - Phone Call: components/social/phone-call.md
      - Phone Number Picker: components/social/phone-number-picker.md
      - Push Notifications: components/social/push-notifications.md
      - Sharing: components/social/sharing.md
      - Texting: components/social/texting.md
      - Twitter: components/social/twitter.md
    - Storage:
      - components/storage/index.md
      - Cloudinary: components/storage/cloudinary.md
      - File: components/storage/file.md
      - Spreadsheet: components/storage/spreadsheet.md
      - SQLite: components/storage/sqlite.md
      - Tiny DB: components/storage/tiny-db.md
      - Tiny Web DB: components/storage/tiny-web-db.md
    - Utilities:
      - components/utilities/index.md
      - Animation Utilities: components/utilities/animation-utilities.md
      - Audio: components/utilities/audio.md
      - Battery Utilities: components/utilities/battery-utilities.md
      - Color Utilities: components/utilities/color-utilities.md
      - Cryptography: components/utilities/cryptography.md
      - Decoration: components/utilities/decoration.md
      - Device Utilities: components/utilities/device-utilities.md
      - Image Utilities: components/utilities/image-utilities.md
      - Keyguard Manager: components/utilities/keyguard-manager.md
      - Package Utilities: components/utilities/package-utilities.md
      - Resource Utilities: components/utilities/resource-utilities.md
      - Screenshot: components/utilities/screenshot.md
      - Shell: components/utilities/shell.md
      - Wallpaper: components/utilities/wallpaper.md
    - Dynamic Components:
      - components/dynamic/index.md
      - Dynamic Button: components/dynamic/dynamic-button.md
      - Dynamic Card View: components/dynamic/dynamic-card-view.md
      - Dynamic Image: components/dynamic/dynamic-image.md
      - Dynamic Label: components/dynamic/dynamic-label.md
      - Dynamic Space: components/dynamic/dynamic-space.md
      - Dynamic Text Box: components/dynamic/dynamic-text-box.md
    - Connectivity:
      - components/connectivity/index.md
      - Activity Starter: components/connectivity/activity-starter.md
      - Arduino: components/connectivity/arduino.md
      - Bluetooth Admin: components/connectivity/bluetooth-admin.md
      - Bluetooth Client: components/connectivity/bluetooth-client.md
      - Bluetooth Server: components/connectivity/bluetooth-server.md
      - Download: components/connectivity/download.md
      - FTP: components/connectivity/ftp.md
      - Network: components/connectivity/network.md
      - Web: components/connectivity/web.md
      - WiFi: components/connectivity/wifi.md
    - Google:
      - components/google/index.md
      - Firebase Authentication: components/google/firebase-authentication.md
      - Firebase Database: components/google/firebase-database.md
      - Firebase Remote Config: components/google/firebase-remote-config.md
      - Firebase Storage: components/google/firebase-storage.md
      - Google Account Picker: components/google/google-account-picker.md
      - Google Maps: components/google/google-maps.md
      - Google Play Games: components/google/google-play-games.md
      - Google reCaptcha: components/google/google-recaptcha.md
      - Youtube Player: components/google/youtube-player.md
    - Monetization:
      - components/monetization/index.md
      - General:
        - components/monetization/general/index.md
        - In App Billing: components/monetization/general/in-app-billing.md
        - Kodular Donations: components/monetization/general/kodular-donations.md
        - Pollfish: components/monetization/general/pollfish.md
      - Advertising:
        - components/monetization/advertising/index.md
        - Banner Ad: components/monetization/advertising/banner-ad.md
        - Interstitial Ad: components/monetization/advertising/interstitial-ad.md
        - Rewarded Ad: components/monetization/advertising/rewarded-ad.md
        - AdColony Interstitial: components/monetization/advertising/adcolony-interstitial.md
        - AdMob Banner: components/monetization/advertising/admob-banner.md
        - AdMob Interstitial: components/monetization/advertising/admob-interstitial.md
        - AdMob Rewarded Video: components/monetization/advertising/admob-rewarded-video.md
        - Amazon Banner: components/monetization/advertising/amazon-banner.md
        - Amazon Interstitial: components/monetization/advertising/amazon-interstitial.md
        - AppLovin Interstitial: components/monetization/advertising/applovin-interstitial.md
        - Facebook Banner: components/monetization/advertising/facebook-banner.md
        - Facebook Interstitial: components/monetization/advertising/facebook-interstitial.md
        - Facebook Rewarded Video: components/monetization/advertising/facebook-rewarded-video.md
        - LeadBolt: components/monetization/advertising/leadbolt.md
        - StartApp Banner: components/monetization/advertising/startapp-banner.md
        - StartApp Interstitial: components/monetization/advertising/startapp-interstitial.md
        - Unity Ads Banner: components/monetization/advertising/unity-ads-banner.md
        - Unity Ads Interstitial: components/monetization/advertising/unity-ads-interstitial.md
    - LEGO® MINDSTORMS®:
      - components/lego-mindstorms/index.md
      - EV3:
        - components/lego-mindstorms/ev3/index.md
        - EV3 Color Sensor: components/lego-mindstorms/ev3/ev3-color-sensor.md
        - EV3 Commands: components/lego-mindstorms/ev3/ev3-commands.md
        - EV3 Gyro Sensor: components/lego-mindstorms/ev3/ev3-gyro-sensor.md
        - EV3 Motors: components/lego-mindstorms/ev3/ev3-motors.md
        - EV3 Sound: components/lego-mindstorms/ev3/ev3-sound.md
        - EV3 Touch Sensor: components/lego-mindstorms/ev3/ev3-touch-sensor.md
        - EV3 UI: components/lego-mindstorms/ev3/ev3-ui.md
        - EV3 Ultrasonic Sensor: components/lego-mindstorms/ev3/ev3-ultrasonic-sensor.md
      - NXT:
        - components/lego-mindstorms/nxt/index.md
        - NXT Color Sensor: components/lego-mindstorms/nxt/nxt-color-sensor.md
        - NXT Direct Commands: components/lego-mindstorms/nxt/nxt-direct-commands.md
        - NXT Drive: components/lego-mindstorms/nxt/nxt-drive.md
        - NXT Light Sensor: components/lego-mindstorms/nxt/nxt-light-sensor.md
        - NXT Sound Sensor: components/lego-mindstorms/nxt/nxt-sound-sensor.md
        - NXT Touch Sensor: components/lego-mindstorms/nxt/nxt-touch-sensor.md
        - NXT Ultrasonic Sensor: components/lego-mindstorms/nxt/nxt-ultrasonic-sensor.md
    - Experimental:
      - components/experimental/index.md
      - CloudDB: components/experimental/clouddb.md
      - Custom Tabs: components/experimental/custom-tabs.md
      - ExoPlayer: components/experimental/exoplayer.md
      - In-App Update: components/experimental/in-app-update.md
      - Notification: components/experimental/notification.md
      - Shortcut Badge: components/experimental/shortcut-badge.md
  - Blocks:
    - blocks/index.md
    - Control: blocks/control.md
    - Logic: blocks/logic.md
    - Math: blocks/math.md
    - Text: blocks/text.md
    - Lists: blocks/lists.md
    - Dictionaries: blocks/dictionaries.md
    - Colors: blocks/colors.md
    - Variables: blocks/variables.md
    - Procedures: blocks/procedures.md
    - Any Component: blocks/any-component.md
  - Support:
    - support/index.md
