markdown-include
mkdocs
mkdocs-material
mkdocs-minify-plugin
mkdocs-git-revision-date-localized-plugin
pygments
pymdown-extensions
-e git://github.com/Barreeeiroo/mkdocs-replace-plugin.git#egg=replace
mkpdfs-mkdocs
