{% extends "base.html" %}

{% block extrahead %}
    {% set adsense = config.extra.adsense %}
    {% if adsense %}
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "{{ adsense }}",
                enable_page_level_ads: true
            });
        </script>
    {% endif %}
{% endblock %}

{% block site_nav %}
    <iframe src="https://www.kodular.io/cookie-consent-sync.html" style="display: none"></iframe>

    {% if nav %}
        {% if page and page.meta and page.meta.hide %}
            {% set hidden = "hidden" if "navigation" in page.meta.hide %}
        {% endif %}
        <div
            class="md-sidebar md-sidebar--primary"
            data-md-component="sidebar"
            data-md-type="navigation"
            {{ hidden }}
        >
            <div class="md-sidebar__scrollwrap">
                <script async
                        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4476675487994598"
                        crossorigin="anonymous"></script>
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-4476675487994598"
                     data-ad-slot="9973270549"
                     data-ad-format="auto"
                     data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                <div class="md-sidebar__inner">
                    {% include "partials/nav.html" %}
                </div>
            </div>
        </div>
    {% endif %}

    <!-- Table of contents -->
    {% if page.toc and not "toc.integrate" in features %}
        {% if page and page.meta and page.meta.hide %}
            {% set hidden = "hidden" if "toc" in page.meta.hide %}
        {% endif %}
        <div
            class="md-sidebar md-sidebar--secondary"
            data-md-component="sidebar"
            data-md-type="toc"
            {{ hidden }}
        >
            <div class="md-sidebar__scrollwrap">
                <div class="md-sidebar__inner">
                    {% include "partials/toc.html" %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
