{% extends "base.html" %}

{% block extrahead %}
    {% set adsense = config.extra.adsense %}
    {% if adsense %}
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "{{ adsense }}",
                enable_page_level_ads: true
            });
        </script>
    {% endif %}
{% endblock %}

{% block site_nav %}
    {% if nav %}
        {% if page and page.meta and page.meta.hide %}
            {% set hidden = "hidden" if "navigation" in page.meta.hide %}
        {% endif %}
        <div
            class="md-sidebar md-sidebar--primary"
            data-md-component="sidebar"
            data-md-type="navigation"
            {{ hidden }}
        >
            <div class="md-sidebar__scrollwrap">
                <script src="//cdn.carbonads.com/carbon.js?serve=CK7DL2Q7&placement=wwwkodulario" id="_carbonads_js" async type="text/javascript"></script>
                <div class="md-sidebar__inner">
                    {% include "partials/nav.html" %}
                </div>
            </div>
        </div>
    {% endif %}

    <!-- Table of contents -->
    {% if page.toc and not "toc.integrate" in features %}
        {% if page and page.meta and page.meta.hide %}
            {% set hidden = "hidden" if "toc" in page.meta.hide %}
        {% endif %}
        <div
            class="md-sidebar md-sidebar--secondary"
            data-md-component="sidebar"
            data-md-type="toc"
            {{ hidden }}
        >
            <div class="md-sidebar__scrollwrap">
                <div class="md-sidebar__inner">
                    {% include "partials/toc.html" %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
