h2 {
    border-bottom: 1px rgba(0,0,0,.17) solid;
}

.preview-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.img-caption {
    text-align:center;
    color: rgba(0,0,0,.54)
}

thead tr th:first-child,
tbody tr td:first-child {
    width: 10em;
    max-width: 10em;
    word-break: break-all;
}

tr td:nth-child(1) {
	background: #dcdce269;
}

.md-typeset .md-typeset__table {
    display: block;
}

.keyword {
    border-style: dashed;
    border-radius: 10px;
    border-width: 1.5px;
    border-color: #f500579b;
    padding: 3px;
    font-style: italic;
}
