<style>
    .metadata {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-bottom: 15px;
        color: #999;
        font-size: 0.85em;
    }

    .metadata.page-metadata .contributors-text {
        margin-right: 5px
    }

    body[dir=rtl] .metadata.page-metadata .contributors-text {
        margin-right: 0;
        margin-left: 5px
    }

    .page-metadata .contributors {
        display: inline-block;
        list-style: none;
        margin: 0 !important;
        padding: 0 !important
    }

    .page-metadata .contributors li {
        display: inline-block;
        vertical-align: top;
        margin: 0;
        padding: 0
    }
</style>

<ul class="metadata page-metadata" data-bi-name="page info" lang="en-us" dir="ltr">
    <li class="contributors-holder">
        <span class="contributors-text">Contributors</span>
        <ul class="contributors" data-bi-name="contributors">
            {%- for user in committers -%}
            <li><a href="{{ user.repos }}" title="{{ user.name }}" data-bi-name="contributorprofile"><img
                    src="../img/contributor.svg" data-src="{{ user.avatar }}" alt="{{ user.name }}"></a></li>
            {%- endfor -%}
        </ul>
    </li>
</ul>

<script type="application/javascript">
    $('.contributors img[data-src]').each(function () {
        src = $(this).attr("data-src");
        $(this).attr('src', src);
    });
</script>
